* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* i just wanted to use float for good practice */

.clearfix::after {
    clear: both;
    display: table;
    content: '';
}

/* #region Framework */

.f_l {
    float: left;
}

.d_flex {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.pos_rel {
    position: relative;
}

/* #endregion */

.carousel {
    height: 500px;
}

.showcase {
    width: 85%;
    min-height: 100px;
}

.showcase>img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.col {
    height: 100px;
}

.col>img {
    width: 100%;
    height: 100px;
}

.container {
    width: 15%;
    min-height: 100px;
}